/target
/perf.data*
/flamegraph.svg
/*.svg
/evals/input/*
/evals/runs/*
/examples/test.rs
/proof.tex
/proof.pdf
.snakemake
/evals/results
/evals/data
__pycache__
/.cargo/config
/evals/runs.backup/
/imgs/
/tmp/
.vscode/
.ipynb_checkpoints
.DS_Store
