/target
/*/target
/*/Cargo.lock
/perf.data*
/flamegraph.svg
/*.svg
/evals/input/*
/evals/runs/*
/examples/test.rs
/proof.tex
/proof.pdf
.snakemake
/evals/results
/evals/data
__pycache__
/.cargo/config
/evals/runs.backup/
/tmp/
.vscode/
.ipynb_checkpoints
.DS_Store
/evals/human/*/

/imgs/*
!/imgs/fig-readme.gif
!/imgs/paper
/imgs/paper/*
!/imgs/paper/intro
/imgs/paper/intro/*
!/imgs/paper/intro/*.gif
perf.data*
flamegraph.svg
